<div class="container roundgrey">
  <div class="row">
    <div class="col-md-12">
      <h2 class="centertext", style="color: #FFCCFF">Nuevo tipo de base</h2>
    </div>
  </div>
  <br>
  
  <%= render 'form' %>