<div class="container roundgrey">
  <div class="col-md-8 col-md-offset-2 centertext">
    <h2 style="color: #FFCCFF">Edición del relleno de torta</h2>
    <br>
  </div>

  <%= form_for( @cakefilling, :html => { :style => 'background-color: #FFB2FF;', multipart: true, class:"form-horizontal col-md-6 col-md-offset-3 roundgrey panel"}, method: :patch) do |f| %>

    <div class="form-group" style="color: #CC0066">
      <%= f.label :nombre, class: "col-md-3 control-label"%>
      <div class="col-md-9 col-lg-7">
        <%= f.text_field :name, class: "form-control", placeholder: "Biscocho, hoja, etc." %>
      </div>
    </div>
    
    <div class="actions form-group">
      <div class="col-lg-10 col-lg-offset-2 centertext">
        <button class="btn btn-danger btn-lg noSpin" onclick="history.back();">Atrás</button>
        <%= f.submit "Guardar cambios", class: "btn btn-danger btn-lg" %>
      </div>
    </div>
  <% end %>
</div>