  <div class="container roundgrey", style = "background-color: #FFB2FF">
    <div class="row centertext">
      <div class="col-md-4">
        <%= image_tag "cupcake2.png" %>
        <h3 style="color: #660033">Quiénes somos</h3>
        <p style="color: #660033">
        Somos una PYME dispuesta a hacer el máximo esfuerzo para que nuestros clientes estén alegres con el servicio entregado.</p>
        </br>
      </div>
      <div class="col-md-4">
        <%= image_tag "cupcake1.png" %>
        <h3 style="color: #660033">Qué hacemos</h3>
        <p style="color: #660033">
        Realizamos encargos a personas e instituciones para entrgar los mejores cupcakes, tortas y bases que puedan desear!</p>
        </br>
      </div>
      <div class="col-md-4">
        <%= image_tag "cupcake3.png" %>
        <h3 style="color: #660033">Cuál es nuestra meta</h3>
        <p style="color: #660033">
        Amenizar reuniones, cumpleaños, matrimonios o cualquier otro evento social para poner una sonrisa en los rostros de las personas.
        </p>
        </br>
      </div>
    </div>
  </div>