<br>
<div class="container roundgrey", style = 'background-color: #FFB2FF'>
  <div class="row">
    <div class="col-md-12">
      <h2 class="centertext", style="color: #990033">Contacto</h2>
    </div>
    <p class="centertext", style="color: #CC0066">
    Pónte en contacto con nosotros para resolver cualquier duda que puedas tener!
    <br>

    <p class="centertext", style="color: #CC0066">
    Nuestros datos son los siguientes:</p>
    <br>

    <p class="centertext", style="color: #CC0066">
    Número de teléfono:</p>
    <br>
    <p class="centertext", style="color: #CC0066">
    Correo electrónico:</p>
    <br>
    
  </div>
  <br>
